.card {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 16px;
  width: 260px;
  max-width: 340px;
  background: var(--gradient);
  border-radius: 12px;
  padding: 30px 16px 16px 16px;
  color: var(--color-text-inverse);
  transition: 0.4s;
  cursor: pointer;

  p {
    text-align: center;
  }

  &:hover {
    transform: scale(1.02);
  }
}

.card__crud {
  position: absolute;
  padding: 10px;
  top: 0;
  right: 0;
  z-index: 2;

  svg {
    width: 18px;
    height: 18px;
    fill: white;
  }
}
