//CSS custom properties
:root {
  //Base color
  --color-black: #000;
  --color-blue: blue;
  --color-white: #fff;
  --color-text: #333;
  --color-text-inverse: #fff;

  //Main color
  --color-primary-rgb: 90, 79, 220;
  --color-primary: rgb(var(--color-primary-rgb));
  --color-primary-800: rgba(var(--color-primary-rgb), 0.5);

  --color-secondary-rgb: 116, 128, 255;
  --color-secondary: #7480ff;
  --color-accent: #f5f4ff;
  --color-accent-1: #ff6363;

  --color-danger-rgb: 220, 53, 69;
  --color-danger: rgb(var(--color-danger-rgb));
  --color-danger-800: rgba(var(--color-danger-rgb), 0.5);

  --color-gray-rgb: 108, 117, 125;
  --color-gray: rgba(var(--color-gray-rgb), 0.5);

  --color-bg-btn: rgba(var(--color-primary-rgb), 0.3);

  --gradient: linear-gradient(
    30deg,
    rgba(var(--color-secondary-rgb), 0.9) 0%,
    rgba(var(--color-primary-rgb), 0.9) 100%
  );

  --border: 1px solid var(--color-gray);
}

//Theme dark
[data-theme="dark"] {
  --color-black: #fff;
  --color-white: #1e1e24;
  --color-text: #e4e4e7;

  --color-primary-rgb: 124, 114, 245;
  --color-secondary: #8a94ff;
  --color-accent: #2a2a35;

  --color-gray-rgb: 148, 155, 162;
}

$padding-btn-small: 0.25rem 0.5rem;
$padding-btn-medium: 0.5rem 1rem;
$padding-btn-large: 0.75rem 1.5rem;

$font-size-small: 0.8rem;
$font-size-base: 1rem;
$font-size-large: 1.2rem;
$font-size-big: 1.6rem;

$border-radius-s: 4px;
