$color-black: #000;
$color-text: #333;
$color-gray: #6c757d80;
$color-white: #fff;
$color-accent: #f5f4ff;
$color-blue: blue;
$color-primary-800: #007bff80;
$color-primary: #5a4fdc;
$color-secondary: #7480ff;
$color-danger-800: #dc354580;
$color-accent-1: #ff6363;
$color-danger: #dc3545;
$color-bg-btn: rgba(90, 79, 220, 0.3);

$gradient: linear-gradient(30deg,rgba(108, 117, 125, 1) 0%, rgba(90, 79, 220, 0.96) 100%);

$padding-btn-small: 0.25rem 0.5rem;
$padding-btn-medium: 0.5rem 1rem;
$padding-btn-large: 0.75rem 1.5rem;

$font-size-small: 0.8rem;
$font-size-base: 1rem;
$font-size-large: 1.2rem;
$font-size-big: 1.6rem;

$border: 1px solid $color-gray;
$border-radius-s: 4px;
