@use 'variables' as v;

.repair-list {
  padding: 20px;
  background-color: var(--color-white);
  min-height: 100%;

  &__title {
    font-size: v.$font-size-big;
    color: var(--color-blue);
    margin-bottom: 20px;
  }

  &__toggle {
    margin-bottom: 16px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  &__filter {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 12px;
    margin-top: 30px;
    margin-bottom: 20px;

    app-field:first-of-type {
      flex: 1 1 220px;
    }

    app-field {
      flex: 0 1 160px;
    }
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
  }

  &__box-info {
    color: var(--color-text);
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    margin-top: 24px;
  }

  &__pagination-info {
    font-size: v.$font-size-small;
    color: var(--color-text);
  }
}
