@use 'variables' as v;

.combobox {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 6px;

  &__label {
    font-size: v.$font-size-small;
    color: var(--color-text);
  }

  &__input {
    width: 100%;
    padding: 8px 12px;
    border: var(--border);
    border-radius: v.$border-radius-s;
    background-color: var(--color-white);
    color: var(--color-text);

    &:focus-visible {
      outline: 1px solid var(--color-secondary);
      -webkit-box-shadow: 0 0 4px 2px var(--color-secondary);
      //-moz-box-shadow: 0 0 4px 2px v.$color-secondary;
      box-shadow: 0 0 4px 2px var(--color-secondary);
    }
  }

  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: 4px;
    max-height: 220px;
    overflow-y: auto;
    list-style: none;
    background: var(--color-white);
    border: var(--border);
    border-radius: v.$border-radius-s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  }

  &__option {
    padding: 8px 12px;
    font-size: v.$font-size-base;
    color: var(--color-text);
    cursor: pointer;

    &:hover {
      background: var(--color-accent);
    }
  }
}
